<% if current_user != @user %>
    <div id="favorite_form">
    <% if current_user.favoriting?(@user) %>
        <%= render 'users/unfavorite' %>
    <% else %>
        <%= render 'users/favorite' %>
    <% end %>
    </div>
<% end %>